﻿extends layout

block styles	
	link(rel='stylesheet', href='/public/stylesheets/main.css')
	link(rel='stylesheet', href='/public/stylesheets/admin_panel.css')

block scripts	
	script(type='text/javascript', src='/node_modules/vue/dist/vue.js')
	script(type='text/javascript', src='/node_modules/chart.js/dist/Chart.min.js')
	script(type='text/javascript', src='/node_modules/vue-pagination-2/dist/vue-pagination-2.min.js')

block content
	.admin_info
		.container
			.row
				.col-xs-12
					.general_chart
						canvas.general_chart_style#general_chart
			.row
				.games-stat
					.col-xs-12
							ul.list-inline
								li
									span Total amount of games
									span : {{games_amount}}
								li
									span Average game time
									span : {{average_game_time}}
								li
									span Average amount of turns
									span : {{average_turn_amount}}
			.row
				.user-charts
					.col-xs-12
						h2 Users personal data
					.col-xs-4
						.list-group#list-tab(role='tablist')
							a.list-group-item.list-group-item-action(v-for='(key,index) in users_keys' v-bind:id='index') {{key}}
							a(href="/api/v1/download_user_data" class="btn btn-primary users_stat_info" role="button" aria-disabled="true") Download users' statistic file
					.col-xs-6
						.users_charts.charts(v-for='users_games in users_values')
							.user_charts(v-for='user_games in users_games')
								.tab-content.user_chart
									.graph-panel-first
										canvas
										span(v-if='user_games[user_games.length - 1].start_game_time != undefined') Start game time {{user_games[user_games.length - 1].start_game_time}}
									.graph-panel-second
										canvas
							pagination(v-if='users_games.length>1' :records="users_games.length" :page="1" :per-page="1" @paginate="setPage")
block vuescripts
	script(type='text/javascript', src='/public/javascripts/vuescripts/vue_admin_panel.js')