﻿extends layout

block styles	
	link(rel='stylesheet', href='/public/stylesheets/game_results.css')

block scripts	
	script(type='text/javascript', src='/node_modules/vue/dist/vue.js')
	script(src="http://mbostock.github.com/d3/d3.v2.js")
	script(type='text/javascript', src='/public/javascripts/game_results.js')
	//script(type='text/javascript', src='/public/javascripts/core.js')

block content
	.game-results
		.results
			h2 Game Over
			h3=reason		
			if(user_amount)	
				h3 Your score is 			
					span=user_amount
			button.btn.btn-light.center-block#play-again(v-on:click='start_new_game()') Play again			
			h3 Thanks for playing! Take a look at your results
			.graph-panel-first
				svg#visualisation-first-chart(width="500" height="210")
			.graph-panel-second
				svg#visualisation-second-chart(width="500" height="210")

block vuescripts
	script(type='text/javascript', src='/public/javascripts/vuescripts/vue_game_results.js')