﻿extends layout

block styles	
	link(rel='stylesheet', href='/public/stylesheets/game.css')
	link(rel='stylesheet', href='/node_modules/spin.js/spin.css')
	link(rel='stylesheet', href='/node_modules/bootstrap3/dist/css/bootstrap.min.css')

block scripts	
	script(type='text/javascript', src='/node_modules/bootbox/bootbox.min.js')
	script(type='text/javascript', src='/node_modules/easytimer.js/dist/easytimer.min.js')
	script(type='text/javascript', src='/node_modules/vue/dist/vue.js')
	script(type='text/javascript', src='/public/javascripts/game.js')
	script(type='text/javascript', src='/node_modules/spin.js/spin.min.js')
	script(type="text/javascript", src="/node_modules/vue-tables-2/dist/vue-tables-2.min.js")
	script(type='text/javascript', src='/public/javascripts/core.js')
	script(type='text/javascript', src='/node_modules/moment/min/moment.min.js')
	script(type='text/javascript', src='/node_modules/moment/min/moment-with-locales.min.js')

block content	
	.game-elements
		.countdown
			span  Time left: 
			span#game_time
		#game-controllers
			.title
				h3 Make your bet
				h3 Toss the coin
			.game_info
				label(for='bid') Bid							
				span.balance.pull-right#available-amount Your balance {{ amount }} 
				.errors-block(v-if='errors.length')
					p(v-for="error in errors") {{error}}
				input(type='text', class="form-control", id='bid', placeholder='Place your bid here', v-model='bid_value',  @focus='errors = []')
			.functional-buttons
				button.btn#head-button(v-on:click='place_bid(1)') Head
				button.btn#tails-button(v-on:click='place_bid(0)') Tails
			#spinner
			.form-row
				button.btn.center-block#exit-button(v-on:click='exit_game()') Exit game
			.game_table
				v-client-table( ref='game_table' :columns="columns" :data="data" :options="options")

block vuescripts
	script(type='text/javascript', src='/public/javascripts/vuescripts/vue_game.js')