﻿extends layout

block styles	
	link(rel='stylesheet', href='/public/stylesheets/index.css')

block scripts	
	script(type='text/javascript', src='/node_modules/vue/dist/vue.js')
	script(type='text/javascript', src='/node_modules/alertify/lib/alertify.min.js')
	script(type='text/javascript', src='/public/javascripts/index.js')
	//script(type='text/javascript', src='/public/javascripts/core.js')

block content
	.main-page
		.game-info
			.name
				h1 Welcome to the Coin
				.image
					img(src='/public/images/coin3.png')
				h3 Press start to begin.
				button#start-game-button.btn.btn-info.center-block(v-on:click='start_game()') Start!

block vuescripts
	script(type='text/javascript', src='/public/javascripts/vuescripts/vue_index.js')