﻿doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/node_modules/bootstrap3/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/public/stylesheets/main.css')
		link(rel='stylesheet', href='/node_modules/jquery-easy-loading/dist/jquery.loading.min.css')
		block styles

		script(type='text/javascript', src='/node_modules/jquery/dist/jquery.min.js')
		script(type='text/javascript', src='/node_modules/jquery-easy-loading/dist/jquery.loading.min.js')
		script(type='text/javascript', src='/node_modules/bootstrap3/dist/js/bootstrap.min.js')
		
		block scripts
	
	body
		.game-menu
			.wrapper
			.upper-bar
			block content
	
	block vuescripts
	