﻿.admin_info {
    position: relative;
    z-index: 1;    
}

.charts {
    display: none;
}

.active_chart {
    display: block;
}

.games-stat {
    padding-top: 0;
}

.games-stat ul {
    text-align: center;
}

.games-stat ul li span {
    color: #31708f;
    font-size: 18px;
}

.general_chart_style {
    margin-top: 30px;    
}

.active {
    background-color: #80808052 !important;
    border-color: #80808052 !important;
}

#list-tab {        
    text-align: center;
}

h2 {
    text-align:center;
    margin-bottom: 20px;
}

.pagination {
    display: block !important;
}

.users_stat_info {
    margin-top: 15px;
    width: 100%;
    white-space: normal !important;
}


.VuePagination {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.VuePagination__count {
    display: none;
}

.users_charts {
    border-left: 1px #8080804d solid;
    padding-left: 10px;
}

.user-charts .list-group a:hover {
    cursor: pointer;    
}

.general_chart {
    display: flex;
    justify-content: center;
}

.tab-content.user_chart div {
    display: flex;
    flex-direction: column;
}

.tab-content.user_chart div span {
    align-self: center;
    border: 1px solid #80808082;
    padding: 3px;
    white-space: nowrap;
    border-radius: 2px;
    order: 1;
}

.tab-content.user_chart div:first-child canvas {
    order: 2;
}
