﻿.game-results {
    position: relative;
    z-index: 1;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;    
}

.graph-panel {
    background-color: white;
}

.axis path, .axis line
{
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}

#play-again {
    background-color: white;
    border: 1px solid black;
}
        
.axis text
{
    font-family: 'Arial';
    font-size: 13px;
}
.tick
{
    stroke-dasharray: 1, 2;
}
.bar
{
    fill: FireBrick;
}

.results {
    padding-bottom: 10px
}

.results h2, h3 {
    text-align: center;
    color: #040442;
}

.results h2 {
    font-weight: bold;    
    color: #040442;
}

.results button {
    width: 35%;
}