﻿button {
    width: 45%;
    background-color: white;    
}

#exit-button {
    margin-top: 20px;
    border: 1px solid red;
}

#tails-button {
    float: right;
}

.spinner {
    left: 50% !important;
}

.title {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 80px;
}

.title h3 {
    color: inherit;
    font-weight: bold;
}

.game_table{
    margin-top: 91px;
}

.spinner span {
    display: inline-block;
    position: relative;
    left: -23px;        
    top: -17px;
    text-align: center;
}

.balance::after {
    content: "\20ac";
}

.game-elements {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: relative;
    z-index: 1;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2px;
    width: 100%;    
    position: absolute;
    top: -34px;
}

.countdown span {
    color: white;    
}

.errors-block {
    border: 2px solid #ff0000c2;
    border-radius: 8px;
    text-align: center;
}

.errors-block p {
    font-family: monospace;
}

.countdown span {
    font-size: 20px;
    font-weight: bold;
}

.game-menu .form {
    width: 26%;
    display: inline-block;
    min-width: 211px;
    display: inline-block;
}

.game-menu .form .exit-button {
    margin-top: 20px;
}

.countdown .values {
    display: inline-block;
}

.modal-body button {
    text-align: right;
}

#game-controllers {
    width: 25%;
}

.functional-buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-between;
    height: 100px;
}

.functional-buttons button {    
    min-width: 150px;
}

.VueTables__search-field {
    display: none;
}

/*media-queries*/
@media screen and (max-width: 1200px) {
    #game-controllers {
        width: 50%;
    }

    .functional-buttons {
        justify-content: center;        
    }

    .functional-buttons button {
        width: 100%;
        margin-bottom: 10px !important;
    }

    #exit-button {
        width: 100%;
    }
}