﻿
.main-page {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-info {
    display: flex;   
}

.game-info .image img {
    display: inherit;
    width: 61px;
    margin: 0 auto;
}


.game-info h1,h3 {
    text-align: center;
    color: inherit;
}
