﻿html, body {
    height: 100%;
    color: #040442;
}

a {
    color: #00B7FF;
}

.upper-bar {
    width: 100%;
    height: 40px;
    background-color: #040442;
}

.game-menu {
    height: 100%;
}

.wrapper {
    height: 100%;
    background-color: #f5f5f5;
    background: url('../images/Hand_Still_Pose_02_Dark-blue_left.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    position: absolute;
    width: 100%;
    z-index: 0;
    opacity: 0.1;
    background-size: contain;
}